footer {
  border-top: 1px solid #F4C101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5D6A5;
  padding: 1em 0;
  font-weight: bold;
}

footer p {
  padding-bottom: 0.3em;
}

footer span {
  color: #F59900;
}