nav {
  display: flex;
  justify-content: space-between;
  padding: 0.8em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.logo,
.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 40px;
  margin-right: 0.6em;
}

.logo h2 {
  transition: .4s;
}

.logo:hover>h2 {
  color: #F59900;
}

.links li {
  list-style: none;
  padding: 6px;
  transition: .4s;
}

.links li:hover {
  background-color: #ffffff70;
  border-radius: 6px;
}

#home a {
  color: #F59900;
  font-weight: bold;
  border-radius: 20px;
}