<form (ngSubmit)="submit()" [formGroup]="momentForm" #formDir="ngForm">
  <div class="form-group">
    <label>Título:</label>
    <input type="text" id="inTitulo" required placeholder="Informe o titulo" formControlName="titulo">

    <div *ngIf="titulo.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="titulo.errors?.['required']">O título é obrigatório!</p>
    </div>
  </div>
  <div class="form-group">
    <label>Descrição:</label>
    <textarea id="textDescricao" placeholder="Descreva o momento ..." style="resize: none;" required
      formControlName="descricao"></textarea>

    <div *ngIf="descricao.invalid && formDir.submitted" class="validation-error">
      <p *ngIf="descricao.errors?.['required']">A descrição é obrigatória!</p>
    </div>
  </div>
  <div class="form-group">
    <label>Upload de Imagem do Momento:</label>
    <input type="file">
  </div>
  <input type="submit" value="{{ btnText }}">
</form>